# ============
# Backend
# ============

# Bundler
backend/.bundle

# Logs e temporários
backend/log/*
backend/tmp/*
!backend/log/.keep
!backend/tmp/.keep

# Pidfiles
backend/tmp/pids/*
!backend/tmp/pids/
!backend/tmp/pids/.keep

# Chaves de credenciais
backend/config/*.key
backend/config/master.key

# ============
# Frontend
# ============

frontend/node_modules
frontend/dist
frontend/dist-ssr

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ============
# Geral
# ============

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*