# Bundler
/.bundle

# Variáveis de ambiente 
.env
.env.local
.env.*.local

# Logs e temporários
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Pidfiles
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Chaves de credenciais
/config/*.key
/config/master.key